@use "../variables";

.sign-in-page {

  &__form {
    position: absolute;
    margin-inline: auto;
    inset-inline: 0;
    inset-block-start: 50%;
    transform: translateY(-50%);
    max-width: 50rem;

  }
}
