@use "../../variables";

.modal-new-chat {

  &__body {
    padding: 2rem 0 1rem 0;
  }

  &__form {

    &-fields {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .ant-form-item {
        margin: 0;

        .ant-form-item-required {

          &::before {
            display: none !important;
          }
        }
      }
    }

    &-footer {
      margin: 2rem 0 0 0;
      display: flex;
      justify-content: center;
    }
  }

}
